---
import '../styles/ContactenosStyles.css';
import Layout from '../layouts/Layout.astro';
import errorIcon from '@assets/icons/error-icon.png';
---
<Layout title="Contáctenos" description="Página de Contactenos, ponte en contacto con nostros para solicitar productos, servicios o información">
	<div id="pageMainImageDivId" style="height: 100px;"></div>
	<!-- Sección Principal -->
	<main>
		<div class="ContentClass">
			<div class="ContactenosClass">
				<h2>CONTÁCTENOS</h2>
				<p>
					Solicite que uno de nuestros asesores se contacte con usted para proveerle información o 
					realizar un pedido de compra, posteriormente retira su pedido en cualquiera de nuestros 
					locales, realizando su pago rápidamente y agilizando el proceso sin perder tiempo.
				</p>
				<br>
				<div id="formDivId">
					<form name="contactenosForm" method="post">
						<label for="txtNamesId" >Nombres *</label><br>
						<input type="text" id="txtNamesId" name="names" placeholder="Escriba sus dos nombres..." ><br>
						<span class="ErrorTooltipClass" id="namesTooltipId"><img src={errorIcon.src} />Se requiere que llene el campo con sus Nombres</span>

						<label for="txtLastNamesId" >Apellidos *</label><br>
						<input type="text" id="txtLastNamesId" name="lastNames" placeholder="Escriba sus dos apellidos..." ><br>
						<span class="ErrorTooltipClass" id="lastNamesTooltipId"><img src={errorIcon.src} />Se requiere que llene el campo con sus Apellidos</span>

						<div class="PhoneAndMailClass">
							<div id="phoneDivId">
								<label for="txtPhoneId" id="lblPhoneId">Teléfono *</label><br>
								<input type="tel" pattern="[0-9]*" id="txtPhoneId" name="phone" placeholder="Escriba su número de teléfono..." >
								<span class="ErrorTooltipClass" id="phoneTooltipId"><img src={errorIcon.src} /><span id="phoneTooltipMsgId"></span></span>
							</div>
							<div id="mailDivId">
								<label for="txtEmailId" >Correo Electrónico *</label><br>
								<input type="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" id="txtEmailId" name="email" placeholder="Escriba su correo electrónico..." ><br>
								<span class="ErrorTooltipClass" id="emailTooltipId"><img src={errorIcon.src} /><span id="emailTooltipMsgId"></span></span>
							</div>
						</div>

						<label for="txtMotivoId" >Motivo *</label><br>
						<input type="text" id="txtMotivoId" name="consultingSubject" placeholder="Describa brevemente el motivo por el cual nos contacta..." ><br>
						<span class="ErrorTooltipClass" id="motivoTooltipId"><img src={errorIcon.src} />Se requiere que llene el campo con el motivo del contacto</span>
					
						<label for="cmbCitiesId">Ciudad *</label><br>
						<select id="cmbCitiesId" name="city">
							<option value="Guayaquil" >Guayaquil</option>
							<option value="Quito" >Quito</option>
							<option value="Cuenca" >Cuenca</option>
							<option value="Ibarra" >Ibarra</option>
						</select><br>
					
						<label id="lblAcceptanceId">
							<input type="checkbox" id="chkAcceptanceId" name="acceptance" required >    
							Al aceptar, estás de acuerdo con nuestra Politica de Protección de Datos Personales.
						</label><br>
						<span class="ErrorTooltipClass" id="acceptanceTooltipId"><img src={errorIcon.src} />Se requiere que acepte la Politica de Protección de Datos para continuar</span>

						<input type="submit" value="Enviar" id="submitButtonId" >
					</form>
				</div>

			</div>
			<div class="ResultadoClass">
				<h2 class="SuccessfulConfirmationTitle">DATOS ENVIADOS</h2>
				<p>Estimado Cliente, muchas gracias por enviarnos su solicitud, nos contactarémos con usted a la brevedad posible. Estos son los datos enviados.</p>
				<p><b>Nombres:</b> <span id="sentNamesId"></span></p>
				<p><b>Apellidos:</b> <span id="sentLastNamesId"></span></p>
				<p><b>Teléfono:</b> <span id="sentPhoneId"></span></p>
				<p><b>Correo Electrónico:</b> <span id="sentEmailId"></span></p>
				<p><b>Motivo de la Consulta:</b> <span id="sentMotivoId"></span></p>
				<p><b>Ciudad:</b> <span id="sentCiudadId"></span></p>
				<p><b>Número de Solicitud:</b> <span id="numeroSolicitudId"></span></p><br><br>
			</div>
		</div>
	</main>
</Layout>