---
import '../styles/ProductosServiciosStyles.css';
import '../styles/ProductosStyles.css';
import Layout from '../layouts/Layout.astro';
import categories from '../content/categories.json';
import productTypes from '../content/product-types.json';
import ProductGrouper from '@components/ProductGrouper.astro';
---
<Layout title="Productos y Servicios" description="Página de Productos y Servicios, revisa lo que te ofrecemos y escoge lo que quieras">
	<div id="pageMainImageDivId">
		<h1>Del campo...<br>A tus manos.</h1>
	</div>
	<!-- Sección Principal -->
	<main>
		<section id="contenidoSectionId">
			<h2 id="contenidoTitleId">Contenido</h2>
			<nav>{
				productTypes.map( pt => (
					<h3>{pt.name}</h3>
					<ul>{
						categories.filter( cat => cat.type_id === pt.id ).map( typedCat => (
							<li><a href={typedCat.h_ref}>{typedCat.name}</a></li>
						))}
					</ul>
				))}
			</nav>
		</section>
		{
			<h2 class="ProductTypeClass">{productTypes[0].name}</h2>
			<section class="Productos">{
				categories.filter( cat => cat.type_id === productTypes[0].id ).map( typedCat => (
					<h2 id={typedCat.h_ref.slice(1)}>{typedCat.name}</h2>
					<ProductGrouper category_id={typedCat.id}></ProductGrouper>		
				))}
			</section>
		}
		<section class="Remember">
			<h2>¡Recuerda!</h2>
			<p>
				Los arreglos florales y frutales en las diferentes categorías son solo una sugerencia para cada  
				ocasión, pero realmente puedes comprar el arreglo que quieras para la ocasión que quieras, lo bueno de 
				todos nuestros arreglos es que cada uno de ellos ponderan una alta calidad, atención al detalle y 
				una estética profesional, por lo que al final, todos ellos quedarán espectacularmente bien en cualquier tipo de ocasión.
			</p>
		</section>
		<div class="Separator"></div>
		{
			<h2 class="ProductTypeClass">{productTypes[1].name}</h2>
			<section class="Productos">{
				categories.filter( cat => cat.type_id === productTypes[1].id ).map( typedCat => (
					<h2 id={typedCat.h_ref.slice(1)}>{typedCat.name}</h2>
					<ProductGrouper category_id={typedCat.id}></ProductGrouper>		
				))}
			</section>
		}
		<section id="videoDIYRecomendacionArreglo">
			<h2>También puedes hacerlo tu mismo en casa</h2>
			<iframe id="youtubeVideoId" width="900" height="520" src="https://www.youtube.com/embed/kKCzeJ9IEh4" 
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
				allowfullscreen title="Video de YouTube: Crea un arreglo de flores y frutas para tu madre | Un Nuevo Día | Telemundo">
					Crea un arreglo de flores y frutas para tu madre | Un Nuevo Día | Telemundo💚
			</iframe>
		</section>
		<section id="beneficios">
			<h2>Beneficios de adquirir Arreglos Florales</h2>
			<ol>
				<li>Sostenibilidad Ambiental</li>
				<li>Apoyo a la Economía Local</li>
				<li>Personalización y Relación con el Florista</li>
				<li>Percepción de Colores y Fragancias Naturales</li>
				<li>Fomento de la Agricultura Local</li>
				<li>Promoción de la Cultura Local</li>
				<li>Reducción del Estrés y la ansiedad</li>
				<li>Estímulo de emociones positivas</li>
				<li>Promoción de la concentración y la creatividad</li>
				<li>Purificación del aire</li>
				<li>Aromaterapia floral</li>
				<li>Estimulación cognitiva</li>
			</ol>
		</section>
		<section id="FloresYSusBeneficios">
			<h2>Beneficios de las Flores</h2>
			<table border="1">
				<caption>Tabla de Referencia: Flores y sus Beneficios</caption>
				<tr>
					<th>Flor</th> 
					<th>Beneficios</th>
					<th>Cuidados</th>
					<th>Temporada Ideal de Cultivo</th>
				</tr>
				<tr>
					<td>Rosa</td>
					<td>Mejora el estado de ánimo, símbolo de amor y aprecio.</td>
					<td>Riego regular, luz solar directa, poda anual</td>
					<td>Primavera a principios de otoño</td>
				</tr>
				<tr>
					<td>Lavanda</td>
					<td>Propiedades relajantes, ayuda a aliviar el estrés y mejorar el sueño.</td>
					<td>Suelo bien drenado, luz solar plena, poda ocasional</td>
					<td>Primavera a principios de verano</td>
				</tr>
				<tr>
					<td>Girasol</td>
					<td>Estimula la energía positiva, asociado con la vitalidad y la felicidad.</td>
					<td>Suelo bien drenado, luz solar plena, riego regular</td>
					<td>Primavera a principios de otoño</td>
				</tr>
				<tr>
					<td>Caléndula</td>
					<td>Antiinflamatorio, se utiliza en productos para el cuidado de la piel.</td>
					<td>Suelo fértil, riego moderado, luz solar plena</td>
					<td>Primavera a finales de verano</td>
				</tr>
				<tr>
					<td>Tulipán</td>
					<td>Representa la elegancia y la frescura, puede elevar el estado de ánimo.</td>
					<td>Suelo bien drenado, luz solar parcial a completa</td>
					<td>Otoño para tulipanes de primavera</td>
				</tr>
				<tr>
					<td>Orquídea</td>
					<td>Mejora la concentración y el equilibrio emocional, adecuada para interiores.</td>
					<td>Sustrato específico, riego controlado, luz indirecta</td>
					<td>Todo el año, dependiendo de la variedad</td>
				</tr>
				<tr>
					<td>Jazmín</td>
					<td>Fragancia relajante, asociado con la reducción del estrés y la ansiedad.</td>
					<td>Suelo bien drenado, luz solar completa</td>
					<td>Primavera a principios de verano</td>
				</tr>
				<tr>
					<td>Crisantemo</td>
					<td>Conocido por sus propiedades medicinales en algunas culturas, se asocia con la vida y la alegría.</td>
					<td>Suelo bien drenado, luz solar completa</td>
					<td>Primavera a mediados de otoño</td>
				</tr>
				<tr>
					<td>Clavel</td>
					<td>Variedad de colores y significados, se utiliza en aromaterapia.</td>
					<td>Suelo bien drenado, riego moderado, luz solar completa</td>
					<td>Primavera a principios de verano</td>
				</tr>
				<tr>
					<td>Margarita</td>
					<td>Representa la pureza y la inocencia, puede tener propiedades calmantes.</td>
					<td>Suelo fértil, riego regular, luz solar completa</td>
					<td>Primavera a finales de verano</td>
				</tr>
				<tfoot> 
					<tr>
						<td colspan="4">
							Fuente: <a href="https://floryou.com.mx/florerias-en-queretaro/flores-a-domicilio/arreglos-de-flores/beneficios-de-las-flores/?srsltid=AfmBOoqnb18QXHaS0ESXfUCybuSs784shpqFYlCQgltcrOtDbrC1mQjW" target="_blank">FlorYOU.com.mx</a>
						</td>
					</tr>
				</tfoot>
			</table>
		</section>
		<div class="Separator"></div>
	</main>
</Layout>