---
import '/styles/FooterStyles.css'
import petalsAndFruitsLogo from '@assets/images/Petals&Fruits_Logo_Only_Text_Light_Orange_Bold.webp';
import youTubeLogo from '@assets/icons/youtube_social_icon_red.png';
import xTwitterLogo from '@assets/icons/X-logo-black.png';
import csLogo from '@assets/images/CARRERA DE SOFTWARE_LogoTotal_AJUSTADO AL CONTENIDO_400x70.webp';
import instagramIcon from '/icons/Instagram_Glyph_Gradient.svg';
import githubIcon from '/icons/github-mark.svg';
import ugLogo from '@assets/images/UG_LOGO_2023_SOLO_105x60.png';
---
<footer class="FooterClass">
    <div id="mainDivLeftId">
        <div id="footerLogoDivId">
            <a href="/index/" target="_parent" id="footerLogoLinkId">
                <img src={petalsAndFruitsLogo.src} width="350px" alt="Logo Petals&Fruits"/>
            </a>
            <nav id="socialLinksNavId">
                <ul>
                    <li><a href="https://www.instagram.com/clarkcodes/" target="_blank"><img src={instagramIcon.src} height="23" alt="ClarkCodes on Instagram"/></a></li>
                    <li><a href="https://github.com/ClarkCodes" target="_blank"><img src={githubIcon.src} height="23" alt="ClarkCodes on GitHub"/></a></li>
                    <li><a href="https://www.youtube.com/@ClarkCodes?sub_confirmation=1" target="_blank"><img src={youTubeLogo.src} height="23" alt="ClarkCodes on YouTube"/></a></li>
                    <li><a href="https://x.com/clarkcodes?ref_src=twsrc%5Etfw" target="_blank"><img src={xTwitterLogo.src} height="23" alt="ClarkCodes on X (Twitter)"/></a></li>
                </ul>
            </nav>
        </div>
        <div id="csLogoDivId">
            <img src={csLogo.src} id="CSLogoImgId" alt="Carrera de Software Logo"/>
        </div>
    </div>
    <div id="mainDivRightId">
        <div id="footerMainSectionDivId">
            <div >
                <h3>Contáctenos</h3>
                <div id="contactenosAddressDivId">
                    <div>
                        <img src="/icons/phone.svg" id="addressIconId" alt="Phone Icon"/><address>+593 99 1234 789</address>
                    </div>
                    <div>
                        <img src="/icons/mail.svg" id="addressIconId" alt="Mail Icon"/><a class="TextLinksClass" href="mailto:info@petals&fruits.com"><address>info@petals&fruits.com</address></a>
                    </div>
                    <div>
                        <img src="/icons/map-pin.svg" id="addressIconId" alt="Map Pin Icon"/><address>Victor Manuel Rendón y Córdova</address>
                    </div>
                </div>
            </div>
            <div>
                <h3>Enlaces Universitarios</h3>
                <address><a class="TextLinksClass" href="https://servicioenlinea.ug.edu.ec/siug/Account/Login.aspx" target="_blank">SIUG</a></address>
                <address><a class="TextLinksClass" href="https://campusvirtual2.ug.edu.ec/altlogin/index.html" target="_blank">Plataforma Moodle</a></address>
                <address><a class="TextLinksClass" href="https://www.ug.edu.ec/" target="_blank">Universidad de Guayaquil</a></address>
            </div>
            <div id="externalResourcesDivId">
                <div id="graphicalResourcesDivId">
                    <h3>Recursos Gráficos</h3>
                    <div id="pixabayLinkDivId">
                        <a href="https://pixabay.com/" target="_blank"><img src="/icons/pixabay_logotype_dark.svg" id="FreepikLogoId" height="40" alt="Freepik Logo"/></a>
                    </div>                
                </div>
            </div>
        </div>
        <div id="copyrightSectionDivId">
            <div id="copyrightCenterDivId">
                <div id="copyrightCenterMainDivId">
                    <div id="UGLogoDivId">
                        <img src={ugLogo.src} id="UGLogoImgId" alt="Universidad de Guayaquil Imagotipo Logo"/>
                    </div>
                    <div id="UniFaTextDivId">
                        <strong>Facultad de Ciencias Matemáticas y Físicas</strong>
                        <strong>Universidad de Guayaquil</strong>
                    </div>
                    <div id="FacultadLogoDivId">
                        <img src="/src/assets/images/LOGO_FACULTAD_CIENCIAS_MATEMATICAS_Y_FISICAS_67x70.PNG" id="FCMFLogoImgId" alt="Facultad de Ciencias Matematicas y Fisicas Logo"/>
                    </div>
                </div>
                <div id="copyrightLegendDivId">
                    <h7>© 2024 Grupo #4 - Desarrollo de Aplicaciones Web - SOF-S-VE-6-2 Ciclo II - Ingeniería de Software</h7>
                </div>
            </div>
        </div>
    </div>
</footer>