---
import '../../styles/ProductDetailsStyles.css';
import Layout from '../../layouts/Layout.astro';
import products from '../../content/products.json';
import categories from '../../content/categories.json';
import productTypes from '../../content/product-types.json';
import RatingStars from '@components/RatingStars.astro';
import ChevronRight from '../../../public/icons/chevron_right_24dp_E3E3E3_FILL1_wght400_GRAD0_opsz24.svg';
import AddShoppingCart from '../../../public/icons/add_shopping_cart_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg';
import { ClientRouter } from 'astro:transitions';
export const prerender = true;

export async function getStaticPaths() {
  return products.map( p => ( {params: {id: p.id}} ) );
}

const { id } = Astro.params;
const product = products.at( id - 1 );
const category = categories.find( cat => cat.id === product?.category_id );
const type_name = productTypes.find( type => type.id === category?.type_id )?.name;
const productPrice = product?.price.toLocaleString( 'en-US', { style: 'currency', currency: 'USD' } );
---
<ClientRouter/>
<Layout title="Detalles" description="Detalles del producto seleccionado">
    <main>
        <div id="breadcrumbsDivId">
            <a href="/ProductosServicios/">Productos y Servicios</a> <ChevronRight id="chevronRightId" fill="indigo"/> 🌸<span>Producto {id}</span>
        </div>
        <div id="containerDivId">
            <div id="productImageDivId">
                <img src={product?.img_path} alt={product?.alt} transition:name={ `img-${id}` } transition:animate="slide">
            </div>
            <div id="productDetailsDivId">
                <h3>Detalles del Producto</h1>
                <h1>{product?.name}</h1>
                <h4><strong>{category?.name} - {type_name}</strong></h4>
                <p>{product?.description}</p>
                <div id="ratingParagraphContainerDivId">
                    <p><strong>Calificación: </strong></p>
                    <RatingStars rating={product?.rating.rate} maxStars={5} starSize={35} />
                </div>
                <p id="ratersCountId">
                    { product?.rating.count } calificaciones
                </p>
                <h2>Precio: {productPrice}</h2>
                <button id="buyButtonId">
                    <AddShoppingCart width="2.5rem" height="2.5rem" fill="#ffffff" />
                    Comprar
                </button>
            </div>
        </div>
    </main>
    <div class="Separator"></div>
</Layout>
<style>

#breadcrumbsDivId{
    margin-top: 90px;

    a, span{
        font-size: 11pt;
        border-radius: 8px;
        padding: 5px;
    }

    a{
        color: indigo;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }

    span{
        background-color: lightyellow;
        color: indigo;
    }

    #chevronRightId{
        font-weight: bold;
        font-size: 14pt;
    }
}

#containerDivId{
    width: 100%;
    height: 75dvh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 70px 0;
    gap: 5%;
    
    #productImageDivId{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        
        img {
            height: auto;
            width: auto;
            max-width: 80%;
            max-height: 75dvh;
            aspect-ratio: auto;
            border-radius: 12px;
            filter: drop-shadow( 3px 3px 10px rgb( 0 0 0 / 70% ) );

            @media ( min-height: 210px ) and ( max-height: 230px ){
                min-height: 70dvh;
            }
        }
    }

    #productDetailsDivId{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        h1{
            font-size: 55pt;
            padding-bottom: 1.7rem;
            color: var( --primary-accent-color-darkest );
            line-height: 60pt;
        }
        
        h2{
            font-size: 20pt;
            color: var( --success-color );
            padding: 1.5rem 0;
        }

        h3{
            padding-bottom: .5rem;
        }

        h4 strong{
            font-size: medium;
            color: var( --foreground-gray-5-color );
        }

        h4{
            padding-bottom: 1rem;
        }
        
        p{
            width: 70%;
            font-size: 16pt;
            line-height: 40pt;
        }

        #ratingParagraphContainerDivId{
            width: fit-content;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            padding-top: 1rem;
            gap: 20px;

            p > strong {
                font-size: 14pt;
            }
        }

        #ratersCountId{
            margin-top: -15px;
            font-style: italic;
            font-size: 10pt;
        }

        #buyButtonId{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 35%;
            font-size: 25pt;
            font-weight: bold;
            padding: 1.3rem;
            gap: 10px;
        }
    }
}
</style>
<script>
    document.addEventListener("astro:page-load", () => {
        const img : HTMLImageElement | null = document.querySelector('#productImageDivId img');
        if ( img && img.clientHeight <= 220 ) { // Makes the image bigger if it is too small
            img.style.minHeight = '70dvh';
        }
    });

    document.querySelector( 'button' )?.addEventListener( 'click', () => {
        alert( 'Gracias por elegir Petals&Fruits, esta funcionalidad no esta disponible debido a que este sitio es un prototipo de aprendizaje, gracias por ejecutar este sitio. 😊' );
    } );
</script>